body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative; 
    background-color: #CDCCD1;
}

/* ----------------------------------------------------------------------- */

ul{
    font-family: 'Secular One', sans-serif;
    color: #CDCCD1;
    position: absolute;
    margin-left: 6%;
}

li{
    font-size: 0.8vw;
    margin-top: 20%;
    margin-left: 50px;
}

/* ----------------------------------------------------------------------- */

#nome, #stack{
    margin-left: 10%;
    margin-top: 17%;
    color: #CDCCD1;
    font-family: 'Baloo 2', cursive;
    font-size: 7vw;
    position: absolute;
}

#stack{
    font-size: 6vw;
    margin-left: 10%;
    margin-top: 24%;
}

#git, #curriculo, #linkedin{
    max-width: 7%;
    margin-left: 5%;
    transition: transform .2s;
}

#git:hover, #curriculo:hover, #linkedin:hover{
    transform: scale(1.5)
}

.icons{
    margin-left: 45%;
    margin-top: 19%;
    position: absolute;
}

/* ----------------------------------------------------------------------- */

.seemore{
    margin-top: 85vh;
    margin-left: 95%;
    padding-top: 2px;
    padding-left: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #454449;
    position: absolute;
    animation: seemore 2s ease infinite;
}

@keyframes seemore {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

#arrow{
    width: 15px;
    height: 15px;
}

/* ----------------------------------------------------------------------- */
#aboutme{
    position: absolute;
    margin-top: 100vh;
}
.accordion{
    max-width: 75%;
    position: absolute;
    margin-top: 135vh;
}

.accordion-body{
    font-family: 'Secular One', sans-serif;
    color: #CDCCD1;
}

#accordion-button{
    font-family: 'Baloo 2', cursive;
    color: #CDCCD1;
    background-color: #454449;
}

.accordion-collapse {
    background-color: #646464;
}

.titulo-aboutme{
    margin-top: 125vh;
    font-family: 'Baloo 2', cursive;
    position: absolute;
    color: #CDCCD1;

}

/* ----------------------------------------------------------------------- */

#projects{
    position: absolute;
    margin-top: 200vh;
}

.titulo-projects{
    margin-top: 215vh;
    margin-left: 12%;
    font-family: 'Baloo 2', cursive;
    position: absolute;
    color: #CDCCD1;
}

.cubo{
    position: absolute;
    margin-left: 82%;
    margin-top: 275vh;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    gap: 5%;
    margin-left: 35vh;
    margin-top: 235vh;
}

.project1, .project2,.project3,.project4,.project5{
    background-color: #454449;
    width: 200px;
    height: 250px;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 

@media screen and (max-width: 765px){
    .cards{
        display: grid;
        grid-template-columns: 
        1fr 1fr 1fr;
        position: absolute;
        gap: 5%;
        margin-left: 215vh;
        margin-top: 230vh;
    }

    .project1, .project2,.project3,.project4,.project5{
        background-color: #454449;
        width: 200px;
        height: 250px;
        border-radius: 4%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    } 
}
/* ----------------------------------------------------------------------- */

.titulo-contact{
    margin-top: 355vh;
    font-family: 'Baloo 2', cursive;
    position: absolute;
    color: #454449;
}

.form{
    position: absolute;
    margin-top: 365vh;
    width: 800px;
}

label{
    color: #CDCCD1;
    font-family: 'Baloo 2', cursive;
}

#floatingInput{
    font-family: 'Secular One', sans-serif;
    background-color: #646464;
    color: #CDCCD1;
}

.btn{
    background-color: #454449;
}

#contactt{
    position: absolute;
    margin-top: 340vh;
}